.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  height: 500px;
  width: 500px;
}
.heading {
  color: #475569;
  font-size: 40px;
}
.description {
  color: #64748b;
  font-size: 25px;
  margin: 1px;
}
